# SPDX-License-Identifier: FSFAP
# SPDX-FileCopyrightText: © 2025 Siemens AG
# SPDX-FileContributor: Dearsh Oberoi <dearsh.oberoi@siemens.com>

REACT_APP_BASE_URL='http://localhost:5000/api/v1'
REACT_APP_DOMAIN_SUBDIRECTORY=''
PUBLIC_URL='http:localhost:3000'

# possible values are oidc or password. If password, ui for username-password
# login will be shown, otherwise, ui for oidc will be shown.
# if unset or some other value, username-password login flow will be shown by default
REACT_APP_PROVIDER='password'

#OIDC
REACT_APP_CLIENT_ID='client-id'
REACT_APP_AUTH_URL='provider authorization url'
REACT_APP_TOKEN_URL='provider token url'
REACT_APP_REDIRECT_URL='provider redirect url'
