/*
	SPDX-License-Identifier: GPL-2.0-only
	SPDX-FileCopyrightText: © 2025 Siemens AG
	SPDX-FileContributor: Sourav Bhowmik <sourav.bhowmik@siemens.com>
*/

.license-text-view {
	cursor: pointer;
	color: #5c7cf3;
}
