# SPDX-FileCopyrightText:  2025 Chayan Das <01chayandas@gmail.com>
# SPDX-License-Identifier: GPL-2.0-only


TOKEN_HOUR_LIFESPAN=24
API_SECRET=some-random-string
READ_API_AUTHENTICATION_ENABLED=true

PORT=8080


JWKS_URI=https://dev-1top0t1k87t4066s.us.auth0.com/.well-known/jwks.json
OIDC_USERNAME_KEY=https://licensedb.dev/user_name
OIDC_EMAIL_KEY=email
OIDC_ISSUER=https://dev-1top0t1k87t4066s.us.auth0.com/
OIDC_DISPLAYNAME_KEY=https://licensedb.dev/display_name
OIDC_SIGNING_ALG=RS256
DEFAULT_ISSUER=dev-1top0t1k87t4066s.us.auth0.com/



# test db info 
DB_NAME=licensedb_test
DB_USER=fossy
DB_PASSWORD=fossy
DB_PORT=5432
DB_HOST=localhost
